
.sidebar {
  background: rgb(255, 243, 243);
  z-index: 3;
  position: absolute;
  right:0;
  top: 0;
  width: 40px;
  width: 20%;
  height: 100vh;
  padding: 0;
  margin:0;
  flex-direction: column;
  display: flex;
   ul {
    margin-top:13vw;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif; 
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    li {
      cursor: pointer;
      a {
        text-decoration: none;
        color:black;
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}