
.projContainer{
  width: 100%;
  padding:0;
  margin:0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  height:auto;
  h1 {
    z-index: 2;
    text-align: center;
    margin-top: 18vh;
    font-size: 3rem;
    margin: none;
    padding: none;
    text-decoration: 3px underline black solid;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  }
  .projectList {
    list-style:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20vh;
    width: 100%;
    padding:10vh 0;
    margin:0;
    .game, .film, .paintTool, .ml {
      z-index: 2;
      width:80vw;
      max-width: 700px;
      padding:0;
      margin:0;
      text-decoration: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      display: flex;
      gap:20px;
      
      img {
        width: 200px;
        height: 200px;
        object-fit: contain;
      }
      .descript {
        margin: 0;
        padding:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        h2 {
          z-index: 2;
          text-align: center;
          font-size: 1.8rem; 
          margin: 0;
          padding:0; 
          .highlight {
            background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-5&color=ffff43);
            padding: 0;
          }          
        }
        p {
          z-index: 2;
          margin: 0;
          padding:0;
          text-wrap: balance;
          text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          padding:0;
          margin:0;
          list-style:none;
          gap: 8px;
          li {
            z-index: 2;
            text-align: center;
            background-color: rgb(229, 229, 229);
            border-radius: 15px;
            padding: 3px 7px;
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
        button {
          z-index: 2;
          background-color: black;
          color:white;
          border:none;
          margin:0;
          margin-top: 2vh;
          padding: 5px  10px;
          font-weight: 600;
          transition: all ease 0.2s;
          a {
            color:white;
            text-decoration: none;
          }
          &:hover {
            transform: scale(1.05);
            background-color: grey;
          }
          &:disabled {
            background-color: grey;
            &:hover {
              background-color: rgb(217, 40, 40);
            }
          }
        }
      }
    }
  }
  .source{
    a { 
      font-size: 0.7rem;
      color:grey;
    }
    margin-bottom: 5vh;
  }
  .sparkle1{
    position: absolute;
    z-index: 0;
    top: 10vh;
    right: 10vw;
    img {
      width: 50px;    
      height: 50px;    
      object-fit: contain;
      opacity: 0.8;
    }
  } 
}

.sparkle2{
  position: absolute;
  z-index: 0;
  top: 80vh;
  left: 13vw;
  img {
    width: 40px;    
    height: 40px;    
    object-fit: contain;
    opacity: 0.8;
  }
}

.sparkle3{
  position: absolute;
  z-index: 0;
  bottom: -35vh;
  right: 5vw;
  img {
    width: 40px;    
    height: 40px;    
    object-fit: contain;
    opacity: 0.9;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .android, .game, .film, .pageTwo {
    animation: scale-a-lil linear both;
    animation-timeline: view();
    animation-range: entry 10% contain 10%;
  }
}

@keyframes scale-a-lil {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .projContainer {
    padding: 0 20px;
    h1 {
      font-size: 2em;
    }
    .projectList {
      .list, .film, .paintTool, .game {
        max-width: 250px;
        gap:15px;
        flex-wrap: wrap;
        img {
          width: 150px;
          height: 150px;
          object-fit: contain;
        }
        .descript {
          gap: 10px;
          flex-wrap: wrap;
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: 0.9rem;
          }
          ul {
            flex-wrap: wrap;
            li {
              font-size: 0.8rem;
            }
          }
        }  
      }
      .film {
        flex-wrap: wrap-reverse;
      }
    }
  }
}

