.container {
  width: 100%;
  height: 100vh;
  padding: none;
  display: flex;
  position: relative;
  overflow: hidden;
  .main_container {
    margin: auto 0;
    margin-left: 15vw;
    
    .contents {
      text-align: left;
      display: flex;
      flex-direction: row;

      .welcome {
        text-align: left;
        font-weight: 800;
        font-size: 4rem;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 0;
        text-wrap: balance;
        width: 100%; 
      }
      span {
        animation: blink-caret 0.75s step-end infinite;
        font-weight: 600;
        color: rgb(57, 57, 57);
      }
    }

    p {
      display: flex;
      margin-top: 10px;
      padding: 0;
      cursor: pointer;
  
      a{
        text-decoration: none;      
        color: rgb(83, 83, 83);
        font-weight: 600;
        padding: 0;
      }
    }

    @keyframes blink-caret {
      from, to {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
  }
}

@keyframes appear {
  0% {opacity: 0}
  50% {opacity: 0.1}
  75% {opacity: 0.2}
  100% {opacity: 0.3}
}

@media screen and (max-width:900px) {
  .contents {
    max-width: 500px; 
  }
}
@media screen and (max-width: 600px) {
  .contents {
    max-width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .contents {
    max-width: 300px;
    .welcome {
      font-size: 2rem;
    }
  }
}

.sketch-highlight{
  position:relative;
  transition: color 0.3s, transform 0.3s;
  border-color:rgb(60, 60, 255);
  background: linear-gradient(to right, rgb(73, 73, 73), rgb(73, 73, 73));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
    color:black;  
}

.sketch-highlight:before{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:darkblue;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.sketch-highlight:after{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:darkblue;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}