.footer {
  color: grey;
  font-size: 1rem;
  width:100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  gap: 68%;
  background-color: rgba(255, 255, 255, 0.3);
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  p {
    font-size: 0.6rem;
  }
}
