.footer {
  color: grey;
  font-size: 1rem;
  width:100%;
  margin:0;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 0;
  gap: 68%;
  opacity: 0.5;
  background-color: rgba(97, 19, 19, 0.3);
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  p {
    margin:0;
    padding: 0;
    font-size: 0.6rem;
  }
  span, a {
    display: flex;
    margin:0;
    padding: 0;
    color:grey;
  }
}
